In [33]:
from astropy.coordinates import SkyCoord
import astropy.coordinates as coord

import astropy.units as u
from astroquery.simbad import Simbad

from astropy.table import Table, vstack, unique
from astropy.table import Column
from astropy.io import ascii

import numpy as np
import operator

In [12]:
firstunmatchedObjects = ascii.read('/home/mj1e16/outTablesImproved/final/firsthalf.csv',format='csv')

In [15]:
secondunmatchedObjects = ascii.read('/home/mj1e16/outTablesImproved/final/secondhalf.csv',format='csv')

In [16]:
unmatchedObjects = vstack([firstunmatchedObjects,secondunmatchedObjects])

In [17]:
colNames = unmatchedObjects.colnames
toKeep = ['RA','DEC']
toRemove = [x for x in colNames if x not in toKeep]
print(toRemove)

['NUMBER', 'FLUX_BEST', 'FLUXERR_BEST', 'MAG_BEST', 'MAGERR_BEST', 'X_IMAGE', 'Y_IMAGE', 'ELLIPTICITY', 'IMAGE_NAME', 'MEDIAN_NAME', 'DIFF_NAME']

In [18]:
print(colNames)

['NUMBER', 'FLUX_BEST', 'FLUXERR_BEST', 'MAG_BEST', 'MAGERR_BEST', 'X_IMAGE', 'Y_IMAGE', 'ELLIPTICITY', 'RA', 'DEC', 'IMAGE_NAME', 'MEDIAN_NAME', 'DIFF_NAME']

In [19]:
unmatchedObjects.remove_columns(toRemove)

In [22]:
testTab = unmatchedObjects[0:10]

In [ ]:
testTab['RA'] = testTab['RA']

In [ ]:


In [9]: for col in t.itercols():
   ...:     if col.info.dtype.kind == 'f':        
   ...:         np.around(col, decimals=1, out=col)

In [25]:
for col in unmatchedObjects.itercols():
    np.around(col,decimals=3,out=col)

In [27]:
len(unmatchedObjects)

2124426

In [38]:
uniqueTab = unique(unmatchedObjects)

In [40]:
uLen = len(uniqueTab)
remaider = uLen%100
uLenEven = uLen-remaider
nIter = uLenEven/100

for x in range(nIter):
    ra = uniqueTab['RA'][100*x:100*(x+1)].tolist()
    dec = uniqueTab['DEC'][100*x:100*(x+1)].tolist()
    result_table = Simbad.query_region(coord.SkyCoord(ra=ra,dec=dec),unit=(u.deg, u.deg), frame='fk5',radius=5 *u.arcsecond)
# set up to cycle and search length 100 tables, sleep and repeat
    if x ==0:
        stack_tab = result_table
    else:
        stack_tab = vstack([stack_tab,result_table])

print(nIter)

89

In [ ]:
ascii.write(stack_tab,'/home/mj1e16/outTablesImproved/final/allSimbad.csv',format='csv',fast_writer=False)

In [ ]:
result_table = Simbad.query_region(coord.SkyCoord(ra=[10, 11], dec=[10, 11],
...                                    unit=(u.deg, u.deg), frame='fk5'),
...                                    radius=0.1 * u.deg)

In [41]:
print(uLen)

1418389

In [30]:
unmatchedObjects[0:10]

<Table masked=True length=10>
   RA     DEC
float64 float64
------- -------
288.882  41.603
288.873  41.599
288.898  41.586
289.672  41.993
288.808  41.572
289.374  41.858
289.661  41.992
288.897  41.605
288.841  41.567
289.195  41.738

In [32]:
unmaskedTable = Table.filled(unmatchedObjects,masked=False)

TypeError: filled() got an unexpected keyword argument 'masked'

In [36]:
unmatchedObjects = unmatchedObjects[reduce(operator.and_, [~unmatchedObjects[col].mask for col in unmatchedObjects.columns])]

In [37]:
unmatchedObjects[0:10]

<Table masked=True length=10>
   RA     DEC
float64 float64
------- -------
288.882  41.603
288.873  41.599
288.898  41.586
289.672  41.993
288.808  41.572
289.374  41.858
289.661  41.992
288.897  41.605
288.841  41.567
289.195  41.738