In [36]:
import astroprov
import numpy as np
import os

from astropy.visualization.mpl_normalize import ImageNormalize
from astropy.table import Table
from astropy.table import Column

import collections
import subprocess

import time
from multiprocessing import Pool
from functools import partial

from astropy.io import ascii
from sqlalchemy import create_engine
import sqlite3
import mysql.connector
from pandas import DataFrame

In [11]:
engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
data = ascii.read('/home/mj1e16/iraf/starfield.dat')
conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
cursor = conn.cursor()

In [12]:
def differenceImage(image1,image2,verbosity=0):
    
    os.chdir()# what directory?
    subprocess.call(['hotpants','-inim','image1','-tmplin','image2','-outim','alteredIm.fits','v',str(verbosity)])
    return('diffImage.fits')

In [13]:
def irafMKObjects(starlist,alteredImage):
    #pretend the function is here and record the provnenance
    return('alteredImage.fits')

In [14]:
def innerJoin(tableName,diffSize=1):

    engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
    conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
    cursor = conn.cursor()
    
    cursor.execute('UPDATE starlist SET starlist.X_POS_MAX = starlist.X_POS + '+str(diffSize))
    cursor.execute('UPDATE starlist SET starlist.Y_POS_MAX = starlist.Y_POS + '+str(diffSize))
    cursor.execute('UPDATE starlist SET starlist.X_POS_MIN = starlist.X_POS - '+str(diffSize))
    cursor.execute('UPDATE starlist SET starlist.Y_POS_MIN = starlist.Y_POS - '+str(diffSize))

    cursor.execute("SELECT * FROM {} INNER JOIN starlist ON {}.X_IMAGE BETWEEN starlist.X_POS_MIN AND starlist.X_POS_MAX AND {}.Y_IMAGE BETWEEN starlist.Y_POS_MIN AND starlist.Y_POS_MAX;".format(tableName,tableName,tableName))
    dataframe = DataFrame(cursor.fetchall())
    
    newTableName = 'result_'+tableName
    #print(len(dataframe))
    df = dataframe.drop_duplicates(subset=[3,4,5,6,7,8],keep='first')
    #df.to_sql(newTableName,con=engine)
    print(len(df))
    return('outable')

In [15]:
def makeConfig(valList,tableName='table',imagename='/home/mj1e16/iraf/editedImage5000.fits',defaultDir='/home/mj1e16/sextractor/sextractor-master/config/',attributeList=['DETECT_THRESH','DETECT_MINAREA','BACK_TYPE','BACK_VALUE','BACK_FILTERSIZE','BACK_SIZE']):
    
    workAroundList = [16,32,64,128,256,512]
    ident = workAroundList.index(valList[-1])
    tableName = tableName[ident] # could just return a letter?
    with open(defaultDir+'/default.sex','r') as f:
        data  = f.read()
    
    for x in range(len(valList)):
        nameLoc = data.find(attributeList[x]) + len(attributeList[x])
        endLoc = data[nameLoc:].find('#') + nameLoc
        newData = data[:nameLoc] + ' '+str(valList[x])+' ' + data[endLoc:]
        data = newData    
    
    with open(defaultDir+'/default.sex','w') as f:
        f.write(data)
    return(valList[0],valList[1],valList[2],valList[3],valList[4],valList[5],tableName)

In [24]:
def findObjects(tableName,defaultDir='/home/mj1e16/sextractor/sextractor-master/config/',imagename='/home/mj1e16/iraf/editedImage5000.fits'):
    
    os.chdir(defaultDir)
    subprocess.call(['sex',imagename])
    
    assoc = Table.read('test.cat',format='ascii.sextractor')
    df = assoc.to_pandas()
    df.to_sql(tableName, con=engine)
    return(tableName)

In [34]:
def alltogethernow(valList,tableName):
    tabName = makeConfig(valList,tableName=tableName)[-1]
    print(tabName)
    findObjects(tabName)
    innerJoin(tabName)

In [ ]:
def resetDB():
    
    engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
    conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
    cursor = conn.cursor()
    
    cursor.execute('SELECT table_name FROM information_schema.tables WHERE table_schema=')

In [54]:
engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
cursor = conn.cursor()

#cursor.execute("SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'")

In [52]:
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0_0')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0_1')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0_2')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0_3')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0_4')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0_5')

In [ ]:
atList = ['DETECT_THRESH','DETECT_MINAREA','BACK_TYPE','BACK_VALUE','BACK_FILTERSIZE','BACK_SIZE']

valList = [np.linspace(1.5,5,35),np.linspace(1,20,20),['AUTO','MANUAL'],np.linspace(0,20,41),np.linspace(1,11,11),[16,32,64,128,256,512]]

p = Pool(6)
for x0 in range(1): #len(valList[0])):
    for x1 in range(1): #len(valList[1])):
        for x2 in range(1): #len(valList[2])):
            for x3 in range(1): #len(valList[3])):
                for x4 in range(1): #len(valList[4])):
                    #for x5 in range(1): #len(valList[5])):
                    name = 'table_'+str(x0)+'_'+str(x1)+'_'+str(x2)+'_'+str(x3)+'_'+str(x4)+'_'
                    fullname = [name]*len(valList[5])
                    fullValList = []
                    for x in range(len(valList[5])):
                        fullname[x] += str(x)
                        fullValList.append([valList[0][x0],valList[1][x1],valList[2][x2],valList[3][x3],valList[4][x4],valList[5][x]])
                    t0 = time.time()
                    print(time.time()-t0)
                    #alltogethernow(fullValList[0],fullname)
                    p.map(partial(alltogethernow,tableName=fullname),fullValList)
                    #p.map(partial(makeConfig,tableName=fullname),fullValList)

table_0_0_0_0_0_0
table_0_0_0_0_0_2
table_0_0_0_0_0_1
table_0_0_0_0_0_3
table_0_0_0_0_0_5
table_0_0_0_0_0_4
9.05990600586e-06
4117
4117
4117

In [1]:
a = 35*20*41*11*2*6

In [5]:
b = a*1.4

In [6]:
b

5303760.0