In [17]:
import astroprov
import numpy as np
import os

from astropy.visualization.mpl_normalize import ImageNormalize
from astropy.table import Table
from astropy.table import Column

import collections
import subprocess

import time
from multiprocessing import Pool
from functools import partial

from astropy.io import ascii
from sqlalchemy import create_engine
import sqlite3
import mysql.connector
from pandas import DataFrame

import mysql.connector
from mysql.connector import Error
from mysql.connector import pooling

In [115]:
connection_pool = mysql.connector.pooling.MySQLConnectionPool(pool_name="pynative_pool",
                                                                  pool_size=6,
                                                                  pool_reset_session=True,
                                                                  host='localhost',
                                                                  database='Kepler',
                                                                  user='mj1e16',
                                                                  password='[sqlT1G3R]')

connection_object = connection_pool.get_connection()
cursor = connection_object.cursor()

In [96]:
engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
# data = ascii.read('/home/mj1e16/iraf/starfield.dat')
# conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
# cursor = conn.cursor()
# #os.chdir()

In [119]:
def differenceImage(image1,image2,outName,provDir,verbosity=0):
 
    astroprov.provcall([image1,image2],[outName],"differenceImage_Python2Hotpants_SQ_tmpl.provn","differenceImage",provDir)
#     output = 'diffImage.fits'
    os.chdir('/data/mj1e16/kepler/hotpants-master')# what directory?
    subprocess.call(['./hotpants','-inim',image1,'-tmplin',image2,'-outim',outName,'v',str(verbosity)])
    return(outName)

In [120]:
def addStars(starlist,alteredImage,provDir):
    #pretend the function is here and record the provnenance
    astroprov.provcall([alteredImage,starlist],['alteredImage.fits'],"addStars_Python2IRAF_SQ_tmpl.provn","addStars",provDir)
    return('alteredImage.fits')

In [121]:
def addStarListLimits(diffSize=1,datatype='DOUBLE'):
    
    data = ascii.read('/home/mj1e16/iraf/starfieldNewPandas.dat') # remember to change column names in file
    df = data.to_pandas()
    df.to_sql('starlist',con=engine)

    cursor.execute('ALTER TABLE starlist ADD X_POS_MAX '+datatype)
    cursor.execute('ALTER TABLE starlist ADD Y_POS_MAX '+datatype)
    cursor.execute('ALTER TABLE starlist ADD X_POS_MIN '+datatype)
    cursor.execute('ALTER TABLE starlist ADD Y_POS_MIN '+datatype)

    cursor.execute('UPDATE starlist SET X_POS_MAX = starlist.X_POS + '+str(diffSize))
    cursor.execute('UPDATE starlist SET Y_POS_MAX = starlist.Y_POS + '+str(diffSize))
    cursor.execute('UPDATE starlist SET X_POS_MIN = starlist.X_POS - '+str(diffSize))
    cursor.execute('UPDATE starlist SET Y_POS_MIN = starlist.Y_POS - '+str(diffSize))

In [122]:
def innerJoin(tableName,provDir,cursor,diffSize=1):

    connection_object = connection_pool.get_connection()
    cursor = connection_object.cursor()
    

    cursor.execute("SELECT * FROM {} INNER JOIN starlist ON {}.X_IMAGE BETWEEN starlist.X_POS_MIN AND starlist.X_POS_MAX AND {}.Y_IMAGE BETWEEN starlist.Y_POS_MIN AND starlist.Y_POS_MAX".format(tableName,tableName,tableName))
    dataframe = DataFrame(cursor.fetchall())
    newTableName = 'result_'+tableName
    df = dataframe.drop_duplicates(subset=[3,4,5,6,7,8],keep='first')
    astroprov.provcall([tableName,'starlist'],[newTableName],"innerJoin_Python2Python_SQ_tmpl.provn","innerJoin",provDir)
    cursor.close()
    #return(newTableName)

In [123]:
def makeConfig(valList,provDir,tableName='table',defaultDir='/home/mj1e16/sextractor/sextractor-master/config/',attributeList=['DETECT_THRESH','DETECT_MINAREA','BACK_TYPE','BACK_VALUE','BACK_FILTERSIZE','BACK_SIZE']):
    
    workAroundList = [16,32,64,128,256,512]
    ident = workAroundList.index(valList[-1])
    tableName = tableName[ident] # could just return a letter?
    with open(defaultDir+'/default.sex','r') as f:
        data  = f.read()
    
    catLocFinder = 'CATALOG_NAME'
    catname = 'test'+str(ident)+'.cat'
    nameLoc = data.find(catLocFinder) + len(catLocFinder)
    endLoc = data[nameLoc:].find('#') + nameLoc
    newData = data[:nameLoc] + ' '+catname+' ' + data[endLoc:]
    data = newData 
        
    for x in range(len(valList)):
        nameLoc = data.find(attributeList[x]) + len(attributeList[x])
        endLoc = data[nameLoc:].find('#') + nameLoc
        newData = data[:nameLoc] + ' '+str(valList[x])+' ' + data[endLoc:]
        data = newData    
    
    
    confName = 'default_'+str(ident)+'.sex'
    with open(defaultDir+confName,'w') as f:
        f.write(data)
    astroprov.provcall(valList,[confName],"makeConfig_Python2Python_SQ_tmpl.provn","makeConfig",provDir)
    return(confName,tableName,catname)

In [124]:
def findObjects(confName,tableName,catName,provDir,defaultDir='/home/mj1e16/sextractor/sextractor-master/config/',imagename='/home/mj1e16/iraf/editedImage5000.fits'):
    
    astroprov.provcall([confName,'/home/mj1e16/iraf/editedImage5000.fits'],[tableName],"findObjects_Python2DaoStarfidner_SQ_tmpl.provn","findObjects",provDir)

    os.chdir(defaultDir)
    subprocess.call(['sex',imagename,'-c',confName])
    
    assoc = Table.read(catName,format='ascii.sextractor')
    df = assoc.to_pandas()
    df.to_sql(tableName, con=engine)
    #return(tableName)

In [132]:
def alltogethernow(valList,tableName,IMAGE,provDir):
    Names = makeConfig(valList,provDir,tableName=tableName)
    #print(Names)
    findObjects(Names[0],Names[1],Names[2],provDir,imagename=IMAGE) # confName tabName catname
    #print('its inner join')
    innerJoin(Names[1],cursor,provDir)

In [126]:
#findObjects('default_1.sex','table_0_0_0_0_0_1','test1.cat')

In [127]:
# altIm = addStars('starlist','') # addStars(starlist,alteredImage):
# diffIm = differenceImage(,altIm) # differenceImage(image1,image2,verbosity=0)
# need to add image names and set up proper sims correct starlist make new difference images

In [128]:
# engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
# conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
# cursor = conn.cursor()

In [129]:
### IF USING NEW STAR LIST
# cursor.execute('DROP TABLE IF EXISTS starlist')
# addStarListLimits()

In [112]:
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_0')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_1')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_2')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_3')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_4')
cursor.execute('DROP TABLE IF EXISTS table_0_0_0_0_5')

In [130]:
cursor.execute('DROP TABLE IF EXISTS image1_0_0_0_0_0')
cursor.execute('DROP TABLE IF EXISTS image2_0_0_0_0_0')
cursor.execute('DROP TABLE IF EXISTS image3_0_0_0_0_0')

In [85]:
cursor.execute('SHOW columns FROM starlist')
df = DataFrame(cursor.fetchall())
df

           0           1    2    3     4 5
0      index  bigint(20)  YES  MUL  None
1      X_POS      double  YES       None
2      Y_POS      double  YES       None
3        MAG      double  YES       None
4  X_POS_MAX      double  YES       None
5  Y_POS_MAX      double  YES       None
6  X_POS_MIN      double  YES       None
7  Y_POS_MIN      double  YES       None

In [133]:
atList = ['DETECT_THRESH','DETECT_MINAREA','BACK_TYPE','BACK_FILTERSIZE','BACK_SIZE']

valList = [np.linspace(1.5,6,8),np.linspace(5,14,10),['AUTO'],np.linspace(1,10,10),[16,32,64,128,256,512]]

p = Pool(6)

# image1 = positive stars in initial image
# image2 = 

#imageDiff = ['/home/mj1e16/iraf/kplr2009114174833_ffi-cal_TEMPLATE.fits'] 
imageDiff = ['/home/mj1e16/iraf/kplr2009114174833_ffi-cal_TEMPLATE.fits']#,'/home/mj1e16/iraf/kplr2009114174833_ffi-cal_TEMPLATE_PLUS5000.fits']
imageTem = ['/home/mj1e16/iraf/kplr2010019225502_ffi-cal_DIFF_PLUS5000.fits'] #,'/home/mj1e16/iraf/kplr2010019225502_ffi-cal_DIFF.fits']
for imageNumber in range(3):
    if imageNumber == 0:
        provDir = '/home/mj1e16/keplerPhotometry/provDump/image1/'
        addStars('starlist',imageTem[0],provDir)
        imageName = differenceImage(imageTem[0],imageDiff[0],'/home/mj1e16/iraf/simImage1.fits',provDir)
        smallName = 'image1'
    if imageNumber == 1:
        provDir = '/home/mj1e16/keplerPhotometry/provDump/image2/'
        addStars('starlist',imageTem[0],provDir)
        imageName = differenceImage(imageDiff[0],imageTem[0],'/home/mj1e16/iraf/simImage2.fits',provDir)
        smallName = 'image2'
    if imageNumber == 2:
        provDir = '/home/mj1e16/keplerPhotometry/provDump/image3/'
        imageName = '/home/mj1e16/iraf/simpleDiffImagePLUS5000.fits'
        astroprov.provcall(['/home/mj1e16/iraf/kplr2010019225502_ffi-cal_DIFF.fits','/home/mj1e16/iraf/kplr2009114174833_ffi-cal_TEMPLATE.fits'],[imageName],"differenceImage_Python2Hotpants_SQ_tmpl.provn","differenceImage",provDir)
        addStars('starlist',imageName,provDir)
        smallName = 'image3'
    for x0 in range(1): #len(valList[0])):
        for x1 in range(1): #len(valList[1])):
            for x2 in range(1): #len(valList[2])):
                for x3 in range(1): #len(valList[3])):
                    name = smallName+'_'+str(x0)+'_'+str(x1)+'_'+str(x2)+'_'+str(x3)+'_'
                    fullname = [name]*len(valList[4])
                    fullValList = []
                    for x in range(len(valList[4])):
                        fullname[x] += str(x)
                        fullValList.append([valList[0][x0],valList[1][x1],valList[2][x2],valList[3][x3],valList[4][x4]])

                    alltogethernow(fullValList[0],fullname,imageName,provDir)

TypeError: unsupported operand type(s) for +: 'MySQLCursor' and 'str'

In [100]:
t = 6.33546996117
multiply = 8*10*10*6
print(t*multiply/86400)

0.351970553398